.root {
  text-align: center;
}
.image {
  width: 480px;
  height: 240px;
  margin-bottom: 16px;
}
.name {
  color: var(--text-primary-light-standart-text);
  font-family: 'JetBrains Mono';
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
  margin: 0;
}
.stat {
  list-style-type: none;
  display: flex;
  margin: 32px 0 0 0;
  padding: 0;
  justify-content: center;
  column-gap: 20px;
}
.statItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;

  color: var(--text-dark-grey-secondary-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.value {
  composes: text text_type_digits-default from global;
}
