.mainHeader {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
}

.tabSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  column-gap: 24px;
}

.tabs {
  display: flex;
}

.tabSectionHeader {
  margin-top: 0;
  margin-bottom: 24px;
  grid-column: 1 / span 2;
}

.IngredientContainer {
  max-height: 600px;
  overflow-y: scroll;
  padding-right: 10px;
}
