.Ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: move;
}

.IngredientImage {
  width: 272px;
}

.price {
  display: flex;
  align-items: center;
}

.price span {
  font-family: 'Iceland', sans-serif;
  font-size: 28px;
  padding-right: 8px;
}

.name {
  margin-top: 8px;
  margin-bottom: 24px;
}
